<h1>Groceries</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <ul>
        <% @groceries.each do |grocery| %>
        <li><a href="/groceries/<%= grocery.id %>"><%= grocery.name %></a> | <%= grocery.location%></li>
        <% end %>
      </ul>

      <div class="form">
        <form action="/groceries/" method="post">
          <label for="grocery_name">Item Name</label>
          <input id="grocery_name" name="grocery[name]" type="text">
          <label for="grocery_location">Location</label>
          <input id="grocery_location" name="grocery[location]" type="text">
          <br>
          <button class="btn btn-primary">Add</button>
        </form>
      </div>
    </div>
    <div class="col-md-3">
      <h4>Saved Items</h4>
      <p>coming soon!</p>
        <ul>
          <% @groceries.saved.each do |item| %>
            <li><%= item.name %></li>
          <% end %>
        </ul>

    </div>
  </div>
</div>
